.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-form input {
    display: block;
    width: 400px;
    margin-bottom: 10px;
    padding: 5px;
}

.login-form button {
    width: 150px;
    height: 30px;
    background-color: rgb(251, 2, 2);
    color: white;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: rgb(171, 3, 3);
}